<!-- ========== Left Sidebar Start ========== -->
        <div class="vertical-menu">

            <!-- LOGO -->
            <div class="navbar-brand-box" style="background-color: #9397d1;">
                <a href="{{ 'index'|page }}" class="logo logo-dark">
                    <span class="logo-sm">
                        <img src="{{ 'assets/images/logo.png'|theme }}" alt="" height="22">
                    </span>
                    <span class="logo-lg">
                        <img src="{{ 'assets/images/logo.png'|theme }}" alt="" height="22" style="width: 185px;">
                    </span>
                </a>

                <a href="{{ 'index'|page }}" class="logo logo-light">
                    <span class="logo-sm">
                        <img src="{{ 'assets/images/logo.png'|theme }}" alt="" height="22">
                    </span>
                    <span class="logo-lg">
                        <img src="{{ 'assets/images/logo.png'|theme }}" alt="" height="22" style="width: 185px;">
                    </span>
                </a>
            </div>

            <button type="button" class="btn btn-sm px-3 font-size-16 header-item waves-effect vertical-menu-btn">
                <i class="fa fa-fw fa-bars"></i>
            </button>

            <div data-simplebar class="sidebar-menu-scroll">

                <!--- Sidemenu -->
                <div id="sidebar-menu">
                    <!-- Left Menu Start -->
                    <ul class="metismenu list-unstyled" id="side-menu">
                        <li class="menu-title">Menu</li>

                        <li>
                            <a href="{{ 'index'|page }}" class="waves-effect">
                                <i class="ri-home-gear-line"></i><span class="badge rounded-pill bg-success float-end">3</span>
                                <span>Dashboard</span>
                            </a>
                        </li>

                        <li class="">
                            <a href="javascript: void(0);" class="has-arrow waves-effect" aria-expanded="false">
                                <i class="ri-pencil-ruler-2-line"></i>
                                <span>Products</span>
                            </a>
                            <ul class="sub-menu mm-collapse" aria-expanded="false" style="height: 0px;">
                                <li><a href="{{ 'products'|page }}" aria-expanded="false">Products</a></li>
                                <!-- <li class="mm-active"><a href="ui-buttons.html" aria-expanded="true">Buttons</a></li> -->
                            </ul>
                        </li>

                    </ul>
                </div>
                <!-- Sidebar -->
            </div>
        </div>
        <!-- Left Sidebar End -->